.main
  .container
    .top
      .siteName
        %span.name TechCrunch
    .contents
      - @docs[0].css('ul > li > div > div.block-content > span > a > img').each do |link|
        .links
          .img
            = link_to link.parent[:href] do
              = image_tag link["data-src"], class: "imageSize"
          .link
            = link_to link.parent[:href], class: "linkText" do
              = link[:alt]
  

.scroller-status{:style => "display: block;"}
  .loader-ellips.infinite-scroll-request{:style => "display: none;"}
    .loader

  